<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EneyX"
        tools:targetApi="31">
        <activity
            android:name=".activity_componente_main"
            android:exported="false" />
        <activity
            android:name=".activity_componente_unico"
            android:exported="false" />
        <activity
            android:name=".activity_login"
            android:exported="false" />
        <activity
            android:name=".activity_SomosNosotros"
            android:exported="false" />
        <activity
            android:name=".activity_inicio_eney"
            android:exported="false" />
        <activity
            android:name=".activity_perfilUsuario"
            android:exported="false" />
        <activity
            android:name=".activity_CheckIn"
            android:exported="false" />
        <activity
            android:name=".activity_Ajustes"
            android:exported="false" />
        <activity
            android:name=".activity_register"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>